top-3-music-n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c8d8cec0-d3ec-46ce-8835-43ff84070898",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "notes": "Daily top music"
    },
    {
      "parameters": {
        "url": "http://ws.audioscrobbler.com/2.0/?method=chart.gettoptracks&api_key=6bb88ee601ef5589cf9299845176bae2&format=json&limit=5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "8c712371-501c-43b8-8bbc-88493e6b5e68",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const tracks = $input.all()[0].json.tracks.track.slice(0,3);\nconst messageLines = tracks.map((t, i) => {\n  const searchQuery = encodeURIComponent(`${t.name} ${t.artist.name}`);\n  const youtubeLink = `https://www.youtube.com/results?search_query=${searchQuery}`;\n  return `${i+1}. ${t.name} — ${t.artist.name}\\n🎥 ${youtubeLink}`;\n});\n\nreturn [{ json: { text: `🎶 Today's Top 3 Tracks:\\n${messageLines.join(\"\\n\\n\")}` } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7356d9ef-fec5-4362-85db-f3766b549a88",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "jbinteshowkat@gmail.com, rakinfrhn@gmail.com",
        "subject": "🎵 Today's Top 3 Music Tracks",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -64
      ],
      "id": "833a891c-d36c-4358-a047-1908a71b4141",
      "name": "Send a message",
      "webhookId": "68f27c8b-be8a-4e42-a305-0c0c8be837b4",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "dN1TnUacZZFWhKQI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Dhaka",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "86fb3e94-53f8-4a87-b7e0-63b60ca128c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1799b59d32b54bd57856ab3f74fe22d18f1c98e46d25f81bb69c085340017ed"
  },
  "id": "sD0mI0cQwn1rdGET",
  "tags": []
}